<div ng-include="'partials/navigation-view.html'"></div>
<header>
    <h2>Change Password</h2>
</header>
<div id="container">
    <div class="edit">
        <p>
            <label for="old-password">Old Password:</label>
            <input type="password" id="old-password" ng-model="editPasswordData.oldPassword" required placeholder="{{editProfileData.name}}"/>
        </p>
        <p>
            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" ng-model="editPasswordData.newPassword" required placeholder="{{editProfileData.newPassword}}">
        </p>
        <p>
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" ng-model="editPasswordData.confirmPassword" required placeholder="{{editProfileData.newPassword}}">
        </p>
        <button ng-click="editPassword(editPasswordData)">Save Changes</button>
    </div>

</div>
