<div ng-include="'partials/navigation-view.html'"></div>
<header>
    <h2>Edit Profile</h2>
</header>
<div id="container">
    <div class="edit">
        <p>
            <label for="cover-image">Cover image:</label>
            <input type="file" id="cover-image" onchange="angular.element(this).scope().coverImageSelected(this)" />
        </p>
        <div id="cover-image-box">
            <img src="{{editProfileData.coverImageData}}" height="100" width="100">
        </div>
    </div>
    <div class="edit">
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="editProfileData.name" required placeholder="{{editProfileData.name}}"/>
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="text" id="email" ng-model="editProfileData.email" required placeholder="{{editProfileData.email}}">
        </p>
        <p>Gender:
            <input type="radio" ng-model="editProfileData.gender" value="male" />Male
            <input type="radio" ng-model="editProfileData.gender" value="female" />Female
        </p>
        <p>
            <label for="profile-image">Profile image:</label>
            <input type="file" id="profile-image" onchange="angular.element(this).scope().profileImageSelected(this)" />
        </p>
            <div id="profile-image-box">
                <img src="{{editProfileData.profileImageData}}" height="100" width="100">
            </div>
        </p>
        <button ng-click="editProfile(editProfileData)">Save Changes</button>
    </div>

</div>
