<div class="container-fluid" ng-if="authenticationService.isLoggedIn()">
    <div class="row features" ng-if="authenticationService.isLoggedIn()">
        <p class="col-md-1 col-xs-12 " id="my-photo" ng-if="me.profileImageData">
            <img ng-src="{{me.profileImageData}}" height="55" width="55">
        </p>
        <p class="col-md-1 col-xs-12">{{me.name|uppercase}}</p>
        <p class="col-md-1 col-md-offset-1 col-xs-2 col-xs-offset-0">
            <a href="#/user/home">
                <i class="glyphicon glyphicon-comment"></i>
            </a>
        </p>
        <p class="col-md-1 col-xs-2">
        <a href="#/user/home" popover-template = "requestDetailsPopover.templateUrl" popover-placement="bottom">
            <i class="glyphicon glyphicon-user"><span class="badge" ng-if="requests.length">{{requests.length}}</span></i>
        </a>
        </p >
        <p class="col-md-1 col-xs-2">
            <a href="#/user/password">
                <i class="glyphicon glyphicon-lock"></i>
            </a>
        </p>
        <p class="col-md-1 col-xs-2">
            <a href="#/user/profile">
                <i class="glyphicon glyphicon-cog"></i>
            </a>
        </p>
        <p class="col-md-1 col-xs-3">
            <a href="#" ng-click="logout()">
                <i class="glyphicon glyphicon-log-out"></i>
            </a>
        </p>
        <p class="col-md-1 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <input type="text" id="ajax" list="json-datalist" placeholder="Type a name" ng-model="searchTerm" ng-change="searchUser(searchTerm)">
            <datalist id="json-datalist" ></datalist>
        </p>

   </div>
</div>

